.DS_Store
Week1.ipynb
Best State of India.xlsx
Bollywood.json
data.csv
Bollywood.csv
MarsFlag.jpg
Week3.ipynb
Best State of India.png
howstat.ipynb
BattingMostInns.JSON
BattingMostInns.csv
IPLMostRuns.png
mysketch.png
Top10ShahrukhKhanMovies.png
Top10SRK.png
Week2_Challenge.png
Week4 Challenge.png




